@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
body{
    margin: 0;
    background-color: #47DC90;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to top,  #2E8F5D,#47DC90);
    height: 250px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.677);
}
main{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.546);
    margin: auto auto 20px auto;
    height: auto;
    min-height: 320px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    
}
footer{
    background: #2E8F5D;
    height: 20px;  
}
.paragraf {
    padding: 0px 40px 0px 40px;
    text-align: justify;
    text-indent: 30px;
}
main > h1 {
    color: #2E8F5D;
    font-family: idroid;
    font-size: 1.5em;
    text-align: justify;
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
}

main > h2 {
    font-family: idroid;
    color: #2E8F5D;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.185), rgb(255, 255, 255));
    font-size: 1.3em;
    border-radius: 5px 0px 0px 10px;
    padding: 5px 0px 5px 10px;
    margin: 0px 0px 0px 15px;
}
.text {
    text-decoration: none;
    color: #2E8F5D;
    font-weight: bolder;
}
img{ 
    width: 100%;
}
div.video {
    background-color: #2E8F5D;
    margin-bottom: 30px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
main iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main > article {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.276);
    background-color: #47dc8f44;
    border: 2px solid #2E8F5D;
    border-radius: 20px;
    padding: 0px 0px;
    margin: 10px 60px;
    height: auto;
}
article > h1 {
    border-radius: 18px 18px 0px 0px;
    background-color: #2E8F5D;
    margin-top: 0;
    padding: 25px 0px 0px 15px;
    height: 50px;
}
ul {
    text-decoration: underline;
    display: inline-block;
    padding: 0px 100px;
}
#fim{
    padding-bottom: 20px;
}
header > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
}
.subtitulo {
    font: 1.3em sans-serif;
    text-align: center;
}
.paginasalternativas{
    display: inline-block;
    padding: 35px 0px 0px 0px;
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;

}
.link {
    padding-left: 10px;
    padding-right: 30px;
    text-decoration: none;
    color: white;

}